In [10]:
#table of 3,4,5
num1=3
num2=4
num3=5
for i in range(1,11):
    print(num1,"x",i,"=",num1*i,)
print("\n")
for i in range(1,11):
    print(num2,"x",i,"=",num2*i)
print("\n")
for i in range(1,11):
    print(num3,"x",i,"=",num3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [13]:
for j in range(3,6):
    print("this is the table of ",j)
    for i in range(1,11):
        print(j,"x",i,"=",j*i,)
    print("\n")

this is the table of  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


this is the table of  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


this is the table of  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
# use of f string 
name ="vicky" 
age=22
branch="cse"
print(f"my name is {name} kumar ,im {age} years old,im from {branch}")

my name is vicky kumar ,im 22 years old,im from cse

In [2]:
a=500
b=600
print("the sum of {0} and {1} is {2}".format(a,b,a+b))

the sum of 500 and 600 is 1100